useDynLib(hummingbird, .registration=TRUE)
export('hummingbirdEMinternal', 'hummingbirdPostAdjustmentInternal',
        'hummingbirdGraph', 'hummingbirdEM', 'hummingbirdPostAdjustment')
importFrom(Rcpp, evalCpp)
importFrom(SummarizedExperiment, assays, rowRanges, start, ranges, end)
importFrom(GenomicRanges, GRanges)
importFrom("graphics", "abline", "legend", "lines", "par", "text", "plot")
